header {
  background-color: red;
  padding: 50px;
  color: black;
  font-weight: bold; }
img {
  width: 600px;
  height: 900px;}
body {
  text-align: center;}
ul {
  text-align: center;
  list-style-position: inside;}
p {
  background-color:lightgrey;
  width: 300px;
  border: 15px solid black;
  padding: 10px;}
 
  
