header {
  background-color: red;
  padding: 50px;
  width: 800px;
  border: 30px solid black;
  color: black;
  margin: auto;
  font-weight: bold; }
img {
  width: 400px;
  height: 600px;
  border: 15px solid red;}
body {
  text-align: center;}
ul {
  text-align: center;
  list-style-position: inside;
  background-color:lightgrey;
  width: 500px;
  border: 15px solid red;
  padding: 10px;
  text-align: center;
  margin: auto;}
p {
  background-color:lightgrey;
  width: 500px;
  border: 15px solid red;
  padding: 10px;
  text-align: center;
  margin: auto;}
h2 {
  background-color: black;
  color: white;
  text-align: center;
  margin: auto;
  width: 300px;
  padding: 20px;
  border: 15px solid white;}
h3 {
  background-color: white;
  padding: 10px;
  width: 300px;
  border: 5px solid black;}
 
  
